.sidebarr {
  width: 260px;
  min-height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.logoo {
  font-size: 18px;
  margin-bottom: 20px;
  color: #f8fafc;
  border-bottom: 1px solid #475569;
  padding-bottom: 10px;
}

.sidebarr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarr ul li {
  margin-bottom: 12px;
}

.sidebarr ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebarr ul li a:hover {
  background-color: #334155;
  color: #fff;
}
/* dropdown */
/* dropdown container */
/* dropdown title EXACT same as normal link */
.dropdown-title {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

/* hover same as links */
.dropdown-title:hover {
  background-color: #334155;
  color: #fff;
}

/* dropdown menu same indentation as sidebar */
.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* dropdown items same spacing */
.dropdown-menu li {
  margin-bottom: 12px;
}

/* dropdown links EXACT same style as sidebar links */
.dropdown-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 14px;
}

/* hover same */
.dropdown-menu li a:hover {
  background-color: #334155;
  color: #fff;
}
.carddd {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.carddd:hover {
  transform: translateY(-5px);
}

.new-badge {
  background: linear-gradient(45deg, #ff3d00, #ff6a00);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 8px;
  box-shadow: 0 2px 8px rgba(255, 61, 0, 0.4);
}
